<template name="partialCreateOpenQuestions">
    <div class="P-OpenQuestion">
        <div class="form-group" style="width: 100%">
            <p style="display: inline" > {{this.num}}: </p>
            <input type="text" name="question" placeholder="question" value="{{this.question}}"  id="HTH_InputQuestion" style="display: inline; width: 70%">
            <select class="form-control" id="HTH_SelectType" style="width: 15%; min-width: 8em; display: inline">
                <option value="Open" selected>Open</option>
                <option value="MP" >Multiplechoice</option>
                <option value="Code">Code</option>
            </select>
        </div>
        <input class="btn btn-primary" type="button" value="save" id="HTH_SaveQuest">
        <input class="btn btn-success" type="button" value="ask" id="HTH_AskQuest">
        <input class="btn btn-danger" type="button" value="delete" id="HTH_DeleteQuest">
        <input class="btn btn-warning" type="button" value="Remove Answers" id="HTH_RemoveAnswers">
    </div>

</template>