$color-richBlack: #020202;
$color-limeRick: #A5BE00;
$color-volt: #D1ED00;
$color-richElectricBlue: #078EC4;
$color-blueBolt: #00B6FF;

$color-teacher-Accent1: #078EC4 ;
$color-teacher-Accent2: #00B6FF;

$color-student-Accent1: #A5BE00;
$color-student-Accent2: #D1ED00;

$color-main-bd: white;