.Style-diagonal-1{
    position: fixed;
    display: block;
    height: 3em;
    width: 250%;

    background: #0029cc;

    transform:  rotate(-30deg) skew(-30deg);
    -webkit-transform: rotate(-30deg) skew(-30deg);
    -moz-transform: rotate(-30deg) skew(-30deg);
    -o-transform:  rotate(-30deg) skew(-30deg);
    -ms-transform:  rotate(-30deg) skew(-30deg);
    top: 30%;

}