<template name="navTeacherHub">
    <nav class="navbar navbar-default fullWidth" style="z-index: 99999;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span  class="navbar-brand" >
                        <img style="max-height: 100%; margin-top: -2px;display: inline" alt="LOGO of teach me" src="/images/favicon/favicon-96x96.png">
                        TEACH-ME
                    </span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left token">
                    <li class="navbar-text cursor-pointer" onclick="var tk = '{{thisLesson.token}}'; Router.go('ShowToken',{token:tk})"
                    ><p >Token: {{thisLesson.token}}</p></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#if thisLesson}}
                        <li><button id="endLessonBtn" class="btn btn-danger navbar-btn">EndLesson</button></li>
                    {{/if}}
                </ul>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</template>

<template name="navTeacherActiveLesson">
    <nav class="navbar navbar-default fullWidth" style="z-index: 99999;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span  class="navbar-brand" >
                        <img style="max-height: 100%; margin-top: -2px;display: inline" alt="LOGO of teach me" src="/images/favicon/favicon-96x96.png">
                        TEACH-ME
                    </span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left token">
                    <li class="navbar-text cursor-pointer" onclick="var tk = '{{thisLesson.token}}'; Router.go('ShowToken',{token:tk})"
                    ><p >Token: {{thisLesson.token}}</p></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#if thisLesson}}
                        <li><button id="hubBtn" class="btn btn-info navbar-btn" href="{{pathFor "homeTeacherHub" token=thisLesson.token}}" onclick="/*history.back();*/">Back to hub</button></li>
                        <li><button id="endLessonBtn" class="btn btn-danger navbar-btn">EndLesson</button></li>
                        {{else}}
                        <li><button class="btn btn-info navbar-btn" onclick="history.back();">Back</button></li>
                    {{/if}}
                </ul>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
</template>