<template name="homeStudentToken">
    <div class="studentToken centered">
        <h1 class="banner"> Teach-Me</h1>
        <h2 class="subBanner">Student</h2>
        <div class="spacing"></div>
        <form class="studentTokenForm">
            <div class="form-group">
                <input type="text" placeholder="Enter Token" class="form-group-lg inputToken" name="studentInputToken">
                <input type="submit" class="buttonJoin" value="Join Course">
            </div>
        </form>
    </div>
</template>