<template name="homeStudentToken">
    <div class="studentToken centered">
        <h1 class="banner"> Teach-Me</h1>
        <h2 class="subBanner">Student</h2>
        <div class="spacing"></div>
        <form class="studentTokenForm">
            <div class="form-group">
                <input autofocus type="text" placeholder="Enter Token" class="form-group-lg inputToken" id="HS_token" name="studentInputToken">
                <input type="button" class="buttonJoin" value="Join Course">
                <a  href="{{pathFor "homeIndex"}}" class="button btn-default btn buttonBack">Back</a>
            </div>
        </form>
    </div>
</template>