<template name="homeTeacherCreateLesson">
    <div class="teacherCreateLesson">
        <form class="lesson-form">
            <div class="newLesson">
                <div class="headerLesson">
                    <h2>New Lesson</h2>
                    <button id="HTCL_btn_CreateNewLesson" class="btn btn-success createNewLesson" type="button" >Create lesson</button>
                </div>
                <div class="name">
                    <label>Lesson Name:</label>
                    <input   type="text" name="lessonName" autocomplete="off" id="HTCL_input_LessonName">
                </div>

                <div class="subject">
                    <label>Lesson Subject:</label>
                    <input type="text" name="lessonSubject" autocomplete="off" id="HTCL_input_LessonSubj">
                </div>
                <label class="checkbox-inline anonymity"><input type="checkbox" name="anonymity" value="yes" id="HTCL_cb_Anon"> Student anonymity</label>
            </div>
        </form>
    </div>
</template>