<template name="homeTeacherSignup">
    <!--{{>navSignin}}-->
    <h1 class="banner">Teach Me</h1>
    <h2 class="teacher">Teacher {{currentUser.profile.name}}</h2>
        <div class="register-form">
            <div class="info">
                <input type="email" id="email" value="" placeholder="Email">
                <br>
                <input type="password" name="" id="password" value="" placeholder="Password">
                <br>
                <input type="password" name="" id="passwordRepeat" value="" placeholder="Repeat Password">
                <br>
                <input type="text" name="" id="firstName" value="" placeholder="First Name">
                <br>
                <input type="text" name="" id="lastName" value="" placeholder="Last Name">
                <br>
                <input type="text" name="" id="school" value="" placeholder="School Name">
            </div>
            <div class="buttonContainer buttons">
                <button type="submit" class="btn btn-success">Register</button> <!--event handelen-->
            </div>
        </div>
</template>