.welcome {
    width: 100%;

}

.welcome .topPart{
    height: 40em;
    width: 100%;
    background: rgba(0,0,0,0.95);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.welcome .topPart .text{
    margin-top: 10em;
    margin-left: 1.2em;
    max-width: 700px;
    color: white;
}

.welcome .topPart h2{
    font-size: 4em;
    font-weight: bold;
}

.welcome .banner{
    color: var(--color-accentdark);
    font-size: 9em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    /*margin-top: 8%;*/
}

.welcome .buttonContainer {
    width: 100%;
    margin-top: 5%;
}

.welcome .button {
    /*float: left;*/
    width: 30%;
    min-width: 4.5em;
    margin: 1% 35%;
    text-align:center;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    display:block;
    cursor:pointer;
    font-family:Arial;
    font-size:4em;
    font-weight:bold;
    padding:1.5% 12px;
    text-decoration:none;
}

.welcome .button:active {
    position:relative;
    top:1px;
}

.welcome .student{
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background-color:#A5BE00;
    border:1px solid #528538;
    color:#ffffff;
    text-shadow:0px 1px 0px #5b8a3c;
}
.welcome .student:hover {
    background-color:#D1ED00;
}

.welcome .teacher{
    -moz-box-shadow: 0px 10px 14px -7px #2e3a73;
    -webkit-box-shadow: 0px 10px 14px -7px #374482;
    box-shadow: 0px 10px 14px -7px #3a5373;
    background-color: #078EC4;
    border:1px solid #476485;
    color:#ffffff;
    text-shadow:0px 1px 0px #555f8a;
}

.welcome .teacher:hover {
    background-color: #00B6FF;
}

