.teacherLogin .banner {
    color: #223355;
    font-size: 9em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.teacherLogin .teacher {
    color: #3c4d89;
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.teacherLogin .login-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.teacherLogin input {
    width: 50%;
    max-width: 500px;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    color: black;
    border: none;
    border-bottom: solid;
    background-color: transparent;
}

.teacherLogin ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
.teacherLogin ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.teacherLogin .buttons {
    margin-top: 5%;
}

.teacherLogin .buttons button, .buttons a {
    width: 150px;
}

.teacherLogin button, a {
    margin-left: 1%;
}

.teacherLogin .login-form .buttonContainer {
    width: 100%;
    margin-top: 1%;
    text-align: center;
}