.banner {
    color: #223355;
    font-size: 9em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.teacher {
    color: #3c4d89;
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.register-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 50%;
    max-width: 500px;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    color: black;
    border: none;
    border-bottom: solid;
    background-color: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.buttons {
    margin-top: 5%;
}

.buttons button, .buttons a {
    width: 150px;
}

button, a {
    margin-left: 1%;
}

.register-form .buttonContainer {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}