.teacherSignup .banner {
    color: var(--color-accentdark);
    font-size: 9em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.teacherSignup .teacher {
    color:  var(--color-accentlight);
    font-size: 3em;
    font-weight: bolder;
    align-items: center;
    text-align: center;
}

.teacherSignup .register-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.teacherSignup input {
    width: 50%;
    max-width: 500px;
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    color: black;
    border: none;
    border-bottom: solid;
    background-color: transparent;
}

.teacherSignup ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
.teacherSignup ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.teacherSignup .buttons {
    margin-top: 5%;
}

.teacherSignup .buttons button, .buttons a {
    width: 150px;
}

.teacherSignup button, a {
    margin-left: 1%;
}

.teacherSignup .register-form .buttonContainer {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}